.HD {
  height: 10%;
}
.Hd_Top {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.Hd_Top_Front {
  display: flex;
  margin-left: 20px;
  padding: 10px;
}
.Hd_Top_Front > div {
  padding: 5px;
  margin-right: 10px;
}
.Front_Eat,
.Front_Packaging {
  border-radius: 30px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
.Front_Eat {
  background-color: #fff;
  color: #000;
  position: relative;
}
.Front_Packaging {
  background-color: #fff;
  color: #000;
  position: relative;
}
.Hd_Top_Back {
  display: flex;
  margin-right: 20px;
  padding: 5px;
  align-items: center;
  height: 20px;
}
.Hd_Top_Back > div {
  border-right: 1px solid #999;
  margin-right: 10px;
  color: #999;
  cursor: pointer;
  padding-right: 10px;
}
.Hd_Nav {
  display: flex;
  margin: 5px;
}
.activeOption {
  background-color: #000;
  color: #fff;
}

.Hd_Nav .router-link-exact-active {
  background-color: red;
  color: #000;
}
.Hd_Nav a {
  display: flex;
  width: 20%;
  height: 40px;
  border: 1px solid #999;
  background-color: #999;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.Hd_Nav a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.Hd_Nav a:hover::after {
  opacity: 1;
}

.Front_Eat::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.Front_Eat:hover::after {
  opacity: 1;
}

.Front_Packaging::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.Front_Packaging:hover::after {
  opacity: 1;
}
